body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Mountains of Christmas", serif;
}

/* img */
#chrismas-tree {
  position: absolute;
  bottom: 10px;
  right: -400px;
  width: 488px;
  height: 393.33px;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: #1cea0d;
  height: 167px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: #f01313;
  font-size: 70px;
  margin: 0;
  text-align: center;
}
/* main */
main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: aqua;
  width: 100%;
  height: 100%;
}
.middle {
  background-color: beige;
  width: auto;
}
.left-side,
.right-side {
  background-color: azure;
  width: auto;
}

/* /main */

.footer {
  background-color: #056700;
  width: auto;
  height: auto;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f01313;
  font-size: 86px;
  z-index: 1;
}

.footer-left,
.footer-right {
  position: relative;
  width: 400px;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
}

.footer-left p,
.footer-right p {
  margin: 0;
}
