* {
    margin: 0;
    padding: 0;
}
/* Page container -------------------------------------------------*/

.container {
    /* background-color: beige; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'head head head'
    'left center right'
    'foot foot foot'
    ;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% 1fr 15%;
    overflow-x: hidden;
}

/* /Page container ------------------------------------------------*/

/* BACKGROUND COLORS HERE ARE CURRENTLY ONLY USE FOR AREA-MEASUREMENT ONLY, AND CAN BE CHANGED TO ANY DESIRE ONES AT ANYTIME */

/* Images ---------------------------------------------------------*/

header div img {
    position: absolute;
    width: 5%;
}
#img-top-left {
    width: max(8%, 121.4px);
     min-height: 102.85px;
    top: 0;
    left: 0;
}
#img-top-right {
    width: max(15%, 121.4px);
    min-height: 102.85px;
    top: 0;
    right: 0;
}

/* /Images --------------------------------------------------------*/
/* header ---------------------------------------------------------*/

header {
    background-color: #1CEA0D;
    position: relative;
    grid-area: head;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
header div {
    /* background-color: bisque; */
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    padding: 15px;
}
header div h1 {
    padding: 15px 0 0 0;
}
header div p {
    margin: 10px 0 10px 0;
}
/* navbar ''''''''''''''''''''*/
header div ul {
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0 0 0;
}

header div ul li {
    color: black;
    width: fit-content;
    list-style-type: none;
    /* border: 1px black solid;
    border-radius: 5px; */
    padding: 5px;
    
}
header div ul li a {
    color: inherit;
    text-decoration: none;
}
/* /navbar '''''''''''''''''''*/

/* /header --------------------------------------------------------*/
/* main -----------------------------------------------------------*/

main {
    background-color: #44B33A;
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

/* Card '''''''''''''''''''''''*/
#cart-container {
    background-color: red;
    box-shadow: 0 0 10px red, 0 0 20px rgb(5,103,0);
    /* border: 1px solid black; */
    padding: 10px;
    
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 20px 0 0 0;
}
#cart-items {
    /* background-color: azure; */
    padding:  10px;
    display: flex;
    flex-flow: column wrap;
    
}
.cart-item {
    /* background-color: blue; */
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.cart-item button {
    width: fit-content;
    margin: 0 0 0 30px;
}

.total {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'text text'
    'clear-cart confirm'
    ;
    grid-template-columns: 50% 50%;
}
.total h3 {
    grid-area: text;
    padding: 0 0 0 28px;
}
.clear-cart {
    grid-area: clear-cart;
    width: 150px;
    justify-self: center;
    padding: 5px;

}

.total a {
    color: inherit;
    grid-area: confirm;
    text-align: center;
    justify-self: center;
    text-decoration: none;
    padding: 5px;
    width: 150px;
}

/* /Card ''''''''''''''''''''''*/

/* /main ----------------------------------------------------------*/
/* left */

.left {
    background-color: #44B33A;
    grid-area: left;
}

/* /left */
/* right */

.right {
    background-color: #44B33A;
    grid-area: right;
}

/* /right */
/* foot */

footer {
    background-color: #056700;
    grid-area: foot;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* /foot */