body,
html {
  margin: 0;
  padding: 0;
  font-family: "Mountains of Christmas", serif;
}
/* img -----------------------------------------------------*/
#chrismas-tree{
  position:absolute;
  bottom: 25px;
  right: 110px;
  width: 20%;
  z-index: -1;
}
/* Chrismas balls */
.christmas-ball {
  position: absolute;
  width: 121.4px;
  height: 102.85px;
}
#ball-top-left {
  top: 0px;
  left: 0px;
}
#ball-top-right {
  top: 0px;
  right: 0px;
}
#ball-bottom-left {
  bottom:0px;
  left: 0;
}
#ball-bottom-right {
  bottom: 0px;
  right: 0px;
  z-index: -2;
}
/* /Chrismas balls */

.left-side img, .right-side img {
  width: 70%;
}

/* /img ----------------------------------------------------*/

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  position: relative;
  background-color: #1cea0d;
  height: 167px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: #f01313;
  font-size: 70px;
  margin: 0;
  text-align: center;
}
/* main ------------------------------------------------------------------------------*/
main {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
}
/* middle contents ''''''''''''''''''''' */
.middle {
  position: relative;
  background-color: #44B33A;
  display: flex;
  justify-content: center;
  width: auto;
}

/* created from main.js ................*/
/* lholdbox ''''''''''''''''''''''''' */
.l-holdbox {
  position: absolute;
  position: relative;
  width: 800px;
  height: 310px;
  border: 15px solid #056700;
  background-color: white;
  top: 25%;
  left: center;

  display: grid;
  grid-template-columns: 40% auto auto;
  gap: 10px;
  padding: 10px;
}

#tittel label, #innhold, #dato {
  color: black;
  font-size: 25px;
}

/* tittel */
#tittel {
  grid-column: 1;
}
#tittel-input {
  margin: 0 0 0 10px;
  width: 65%;
  border: solid 1px;
  font-size: 20px;
}
/* /tittel */

/* innhold */
#innhold {
  /* background-color: #056700; */
  position: relative;
  grid-column: 2/7;
}
#innhold-text {
  resize: none;
  position: absolute;
  text-align: start;
  margin: 0 0 0 10px;
  width: 80%;
  height: 200px;
  border: solid 1px;
  font-size: 20px;
  overflow-y: auto;
}
/* /innhold */

/* dato */
#dato {
  /* background-color: green; */
  grid-column: 1/2;
  grid-row: 2/20;
}
#dato-input {
  margin: 0 0 0 16px;
  width: 66.2%;
  border: solid 1px;
  font-size: 20px;
}
/* /dato */
/* Edit & Delete button */
.pop-button {
  /* background-color: #F01313; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
  grid-column: 6/6;
  grid-row: 15/20;
}
#p-edit, #p-delete {
  border: 1px solid transparent;
  color: white;
  font-family: inherit;
  font-size: 25px;
  text-align: center;
  width: 104px;
  height: 53px;
  padding: 6px 12px;
  cursor: pointer;
}

#p-edit {
  background-color: #056700;
}
#p-edit:hover {
  outline: none;
  box-shadow: 0 0 5px rgba(5, 103, 0, 0.6);
}
#p-edit:active {
  background-color: #0b5807;
}

#p-delete {
  background-color: #F01313;
}
#p-delete:hover {
  outline: none;
  box-shadow: 0 0 5px rgba(240, 34, 34, 0.6);
}
#p-delete:active {
  background-color: #cf0e0e;
}

/* /Edit & Delete button */
/* /lholdbox '''''''''''''''''''''''' */
/* /created from main.js ...............*/
/* /middle contents '''''''''''''''''''' */

.left-side, .right-side {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #F01313;
  width: auto;
  padding: 20px 10px 10px 10px;
}
/* /main -----------------------------------------------------------------------------*/

.footer {
  position: relative;
  background-color: #056700;
  width: auto;
  height: auto;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #f01313;
  font-size: 86px;
  z-index: 1;
}

.footer-left {
  width: fit-content;
  font-size: 20px;
  line-height: 1.5;
  padding: 0 10px 0 10px;
}
.footer-right {
  width: 500px;
  font-size: 20px;
  line-height: 1.5;
  padding: 0 10px 0 10px;
}

.footer-left p, .footer-right p {
  margin: 0;
  padding: 0;
}