* {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Mountains of Christmas", serif;
  overflow-x: hidden;
  background-color: #1cea0d;
}

.container {
  /* background-color: blue; */
  display: grid;
  grid-template-areas:
    "head head head"
    "left center right"
    "foot foot foot";
  width: 100vw;
  height: 100vh;
}
/* Head */
.heading {
  grid-area: head;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  width: 100vw;
  height: auto;
  padding: 20px 0 20px 0;
  background-color: #056700;
}
/* /Head */
h1 {
  color: red;
  text-align: center;
  margin: 0;
}
p {
  color: red;
  text-align: center;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
ul li {
  margin: 0;
}

ul li a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: larger;
  margin: 25px;
}
.floatingdagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* left area */
.left-bar {
  background-color: #44b33a;
  width: max(15vw, 200px);
  grid-area: left;
  margin: 0;
}
/* /left area */

/* center area */
.menu-list {
  width: auto;
  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  /* background-color: antiquewhite; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.content-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.menu {
  width: 30%;
  height: 110px;
  min-height: fit-content;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  font-family: "Mountains of Christmas", serif;
  color: red;
  text-align: center;
  margin: 20px;
  transition: background-color 0.3s, transform 0.2s;
}
.menu:hover {
  background-color: rgba(139, 0, 0, 0.8);
  transform: scale(1.02);
}
/* /center area */
/* right area */
.right-bar {
  background-color: #44b33a;
  width: max(15vw, 200px);
  grid-area: right;
  margin: 0;
}
/* /right area */
/* footer */
.footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #056700;
  color: red;
  padding: 0;
}

.footer div {
  padding: 20px;
}
/* /footer */
h3 {
  color: red;
  text-align: center;
  font-family: "Mountains of Christmas", serif;
  margin: 5px;
}
.hidden {
  text-decoration: none;
  color: red;
}
