* {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Pacifico", cursive;
  overflow-x: hidden;
  background-color: #89cff0;
}

.container {
  /* background-color: blue; */
  display: grid;
  grid-template-rows: auto auto 18%;
  width: 100vw;
  height: 100vh;
}
/* Head */
.heading {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px 0px;
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  background-color: pink;
  border-bottom: 1px solid red;
}
/* /Head */
h1 {
  color: red;
  text-align: center;
  margin: 0;
}
p {
  color: red;
  text-align: center;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
ul li {
 margin: 0;
}

ul li a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: larger;
  margin: 25px;
}
.floatingdagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.cthulu {
  width: 350px;
  height: auto;
  position: relative;
  border: 2px solid red;
  border-radius: 10px;
}
.dagon {
  width: 350px;
  height: auto;
  position: relative;
  border: 2px solid red;
  border-radius: 10px;
}
ul li:hover::after {
  content: "❤️";
  position: absolute;
  right: -5px;
  top: 0;
  font-size: 16px;
  transform: scale(1);
  transition: 0.25s ease-in-out;
}
ul li::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 10;
  font-size: 16px;
  transform: scale(0);
  transition: 0.25s ease-in-out;
}
.main-text {
  width: 70%;
  max-width: 700px;
  margin: 5px auto;
  padding: 5px;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: red;
  margin-left: 50px;
  margin-right: 50px;
}
.main-text1 {
  width: 70%;
  max-width: 700px;
  margin: 5px auto;
  padding: 5px;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: red;
  position: relative;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: pink;
  color: red;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px red solid;
}
/* center area */
.menu-list {
  display: grid;
  grid-template-columns: auto 70% auto;
}
.left-bar {
  margin: 0;
}
.content-container {
  background-color: antiquewhite;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.content-area {

}
.menu {
  width: fit-content;
  height: 120px;
  min-height: fit-content;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  font-family: "Pacifico", cursive;
  color: red;
  text-align: center;
  margin: 20px;
  transition: background-color 0.3s, transform 0.2s;
}
.menu:hover {
  background-color: rgba(139, 0, 0, 0.8);
  transform: scale(1.02);
}
/* /center area */
h3 {
  color: red;
  text-align: center;
  font-family: "Pacifico", cursive;
  margin: 5px;
}
.hidden {
  text-decoration: none;
  color: red;
}
.cart-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 45px;
  height: 45px;
  z-index: 1000;
}
.cart-icon:hover {
  opacity: 0.75;
}
.cart-container {
  display: flex;
  color: red;
  flex-direction: column;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  z-index: 10;
  max-height: 335px;
  overflow-y: auto;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid red;
  color: red;
  margin-top: 20px;
  padding: 10px 20px;
}

.remove-item {
  background-color: pink;
  color: red;
  border: none;
  border-radius: 3px;
}
.remove-item:hover {
  background-color: rgba(139, 0, 0, 0.8);
  transform: scale(1.02);
}
.clear-cart {
  background-color: red;
  color: pink;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}
.clear-cart:hover {
  background-color: rgba(139, 0, 0, 0.8);
  transform: scale(1.02);
}
.builder {
  width: 300px;
  border: 2px solid red;
  border-radius: 10px;
}
.confirm-purchase {
  background: red;
  color: white;
  border-radius: 10px;
}
.confirm-purchase:hover {
  background-color: rgba(139, 0, 0, 0.8);
  transform: scale(1.02);
}
.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
