body,
html {
  margin: 0;
  padding: 0;
  font-family: "Mountains of Christmas", serif;
  background-color: #f01313;
}

.header {
  background-color: #1cea0d;
  height: 167px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: #f01313;
  font-size: 70px;
  margin: 0;
  text-align: center;
}
.footer {
  background-color: #056700;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #f01313;
  font-size: 86px;
}

.footer-left,
.footer-right {
  width: 48%;
  font-size: 20px;
  line-height: 1.5;
}

.footer-left p,
.footer-right p {
  margin: 0;
}
